---
import Base from "../layouts/Base.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import WhyContext from "../components/WhyContext.astro";
import Features from "../components/Features.astro";
import Earnings from "../components/Earnings.astro";
import Manifesto from "../components/Manifesto.astro";
import Footer from "../components/Footer.astro";
---

<Base>
  <Nav />
  <main>
    <Hero />
    <WhyContext />
    <Features />
    <Earnings />
    <Manifesto />
  </main>
  <Footer />
</Base>
